* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5rem;
}

h1,h2,h3,h4,h5,h6 {
    line-height: normal;
}

/* utilities */
.container {
    width: 90%;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-b-2 {
    margin-bottom: 1.5rem;
}

.m-b-3 {
    margin-bottom: 3rem;
}

.btn {
    padding: 15px 25px;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.btn-white {
    background-color: #EFEFEF;
    color: #1e3799;
}

.btn-blue {
    background-color: #1e3799;
    color: #EFEFEF;
}

.sm-div {
    width: 40%;
    height: auto;
}

.lg-div {
    width: 60%;
    height: auto;
}

.equal-div {
    width: 50%;
}

.upper-case {
    text-transform: uppercase;
}

.black {
    /* background-color: #1D1D1B; */
    background-color: #131B27;
}

.blue {
    background-color: #1e3799;
}

.small-p {
    font-size: 0.8rem;
}

.white-text {
    color: #ffffff;;
}

.nav-toggle a {
    color: #ffffff;
    font-size: 1.5rem;
    
}

/* other styling */

.header {
    background-color: #1e3799;
    line-height: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 15rem;
    /* border: 1px red solid; */
}

/* nav styling */
.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li a{
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #ffffff;
    color: red;
}

.nav-toggle {
    display: none;
}

/* hero styling */

.hero {
    position: relative;
    top: 72px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #1e3799;
    overflow: hidden;
    height: 45rem;
    width: 100vw;
}


.hero-text {
    width: 70%;
    /* border: 2px red solid; */
    margin-left: 6.4rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.hero-text .upper-case {
    font-size: 0.8rem;
    letter-spacing: 3px;
}


.hero-img-div {
    overflow: hidden;
    position: relative;
}

.hero-img  {
    width: 100%;
    height: 46rem;
    /* opacity: 0.8; */
    filter: saturate(0.7);
    object-fit: cover;
   
}

/* about section  */

.about-section {
    display: flex;
    position: relative;
    top: 72px;
}

.about-text {
    margin-left: 6.4rem;
    padding: 10rem 0;
    max-width: 64%;
}

.about-text .upper-case {
    color: #1e3799;
    letter-spacing: 3px;
}

.about-text h1 {
    color: #1e3799;
}

.about-image-div {
    background: #FFFFFF;
}

.about-image-div img {
    width: 53rem;
    position: relative;
    top: 59px;
    right: 100px;
    /* opacity: 0.9; */
}

/* services/portfolio section */

.services-section {
    /* display: flex; */
    position: relative;
    top: 72px;
    height: 45rem;
    background: #FFFFFF;
    
}

.services-text {
    width: 40rem;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
}

.services-text .upper-case {
    color: #1e3799;
    letter-spacing: 3px;
}

.services-div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    gap: 40px;
}

.service {
    /* border: 2px solid red; */
    width: 40%;
    padding: 1rem 2rem;
}

.service h3 i {
    color: #1e3799;
    margin-right: 15px;
    font-size: 2rem;
}

/* portfolio section */

.portfolio-section {
    position: relative;
    top: 72px;
    height: 45rem;
    background: #FFFFFF;
}

.cards-div {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.card {
    width: 15rem;
}

.card a {
    cursor: pointer;
}

.card img {
    width: 100%;
}

/* team section */

.profile {
    width: 15rem;
}

.profile img {
    width: 100%;
    line-height: 0;
}

.profile-text-div {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    position: relative;
    top: -30px;
}

.social-icons i {
    margin: 3px;
}

/* contact section */
.contact-section {
    position: relative;
    top: 72px;
    display: flex;
    background: #ffffff;
}

/* .contact-section .equal-div {
    border: 2px red solid;
} */

.contact-text {
    margin-left: 6.4rem;
    padding: 2rem 0;
    width: 64%;
}

.contact-text .upper-case {
    color: #1e3799;
    letter-spacing: 3px;
}

.contact-section .black {
    height: 42.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    height: 20rem;
    background-color: #D2D8EA;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    left: 6.4rem;
}

.contact-form input {
    background: #D2D8EA;
    border: none;
    border-bottom: 1px solid grey;
    width: 50%;
    padding: 10px 5px;
    outline: none;
}

.contact-form textarea {
    background: #D2D8EA;
    margin: 20px 0 20px 0;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.contact-text-div {
    display: flex;
    flex-direction: column;
}

.contact-text p {
    color: #ffffff;;
}

.contact-text h3 {
    color: #1e3799;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-text h3 i {
    margin-right: 5px;
}

/* footer */
footer {
    background-color: #1e3799;
    position: relative;
    top: 72px;
    padding: 4rem;
}

.footer-base i {
    color: red;
}

.footer .social-icons {
    text-align: center;
}

.footer .social-icons i {
    font-size: 1.5rem;
    margin: 1rem;
}

.footer-text {
    text-align: center;
}

.footer-text a {
    text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
        .logo img {
            /* border: 1px red solid; */
            position: relative;
            z-index: 100;
        }
        .menu {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: flex-end;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #1e3799;
        opacity: 0.9;
        color: white;
        list-style: none;
        padding: 6rem 1rem;
    }

    .nav-toggle {
        position: fixed;
        z-index: 100;
        top: 1.3rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
    }

    .nav-toggle {
        display: block;
    }

    .open-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .show-menu {
        transform: translateY(0);
        
    }

    .contact-form input {
        background: #ffffff;
    }
    
    .contact-form textarea {
        background: #ffffff;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* hero section */
   
    .hero {
        height: 42rem;
    }
    .hero-text {
        width: 70%;
        /* border: 2px red solid; */
        margin-left: 4.4rem;
    }
    .hero-img  {
        width: 100%;
        height: 44rem;
        /* opacity: 0.8; */
        filter: saturate(0.7);
        object-fit: cover;
    }

    /* about section */
    .about-text {
        margin-left: 4.4rem;
        padding: 5rem 0;
        width: 60%;
    }

    .about-text .white-text {
        flex-basis: auto;
    }
    
    .about-text .upper-case {
        color: #1e3799;
        letter-spacing: 3px;
    }
    

    /* services section */
    .services-section {
        position: relative;
        top: 72px;
        height: 51rem;
        background: #FFFFFF;
        padding-top: 3rem;
    }

    .services-div {
        
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        gap: 40px;
    }

    /* portfolio section */
    .portfolio-section {
        height: 54rem;
    }

    .cards-div {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 60%;
        flex-wrap: wrap;
    }
    
    .card {
        width: 35%;
    }

    .team-section {
        height: 100vh;
        margin-bottom: 8rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    
    h1 {
        font-size: 3.0rem;
    }
    .hero {
        height: 42rem;
    }
    .hero-text {
        width: 60%;
        /* border: 2px red solid; */
        margin-left: 4.4rem;
    }
    .hero-img  {
        width: 100%;
        height: 43rem;
        /* opacity: 0.8; */
        filter: saturate(0.7);
        
    }

    .hero-text p {
        font-size: 1.2rem;
    }
    
    .hero-text .upper-case {
        font-size: 0.7rem;
    }

    /* about section */
    .about-text {
        margin-left: 4.4rem;
        padding: 5rem 0;
        max-width: 80%;
    }
    
    .about-text .upper-case {
        color: #1e3799;
        letter-spacing: 3px;
    }
    
    .about-image-div {
        display: none;
        /* opacity: 0.9; */
    }
    
    .about-section .equal-div {
        width: 100%;
    }
    /* services section */
    .services-section {
        height: 100vh;
    }

    .service {
        min-width: 46%;
    }
    
    .service h3 i {
        font-size: 1.5rem;
    }

    /* portfolio section */
    .portfolio-section {
        height: 100vh;
    }

    .cards-div {
        gap: 2rem;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
    }
    
    .card {
        width: 35%;
    }

    /* team section */
    .team-section {
        height: 100vh;
        margin: 10rem 0;
    }

    .profile {
        width: 35%;
    }

    /* contact section */
    .contact-section {
        flex-direction: column;
    }

    .contact-section .equal-div {
        width: 100%;
    }

    .contact-text {
        margin-left: 4.4rem;
    }
    
    .contact-section .black {
        height: auto;
    }
    
    .contact-form {
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 3rem 4.4rem;
        position: static;
    }
    
    .contact-form input {
        border: none;
        border-bottom: 1px solid grey;
        width: 80%;
        padding: 15px 5px;
    }

    .contact-text-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    
    .contact-text p {
        color: #ffffff;;
    }
    
    .contact-text h3 {
        color: #1e3799;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .contact-text h3 i {
        margin-right: 5px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    
    h1 {
        font-size: 3.0rem;
    }
    .hero {
        height: 42rem;
    }

    .hero .sm-div {
        width: 80%;
    }

    .hero .lg-div {
        display: none;
    }
    .hero-text {
        width: 80%;
        margin-left: 2rem;
    }

    /* about section */

    .about-text {
        margin-left: 4.4rem;
        padding: 10rem 0;
        max-width: 80%;
    }
    
    .about-image-div {
        display: none;
        /* opacity: 0.9; */
    }
    
    .about-section .equal-div {
        width: 100%;
    }
    /* services section */
    .services-section {
        height: auto;
    }

    .service {
        min-width: 80%;
        /* border: 2px solid red; */
    }
    
    .service h3 i {
        font-size: 1.5rem;
    }

    /* portfolio section */
    .portfolio-section {
        height: auto;
    }

    .cards-div {
        gap: 2rem;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
    }
    
    .card {
        width: 50%;
        gap: 10rem;
    }

    /* team section */
    .team-section {
        height: auto;
        margin-top: 12rem;
    }

    .profile {
        width: 50%;
    }

    /* contact section */
    .contact-section {
        flex-direction: column;
    }

    .contact-section .equal-div {
        width: 100%;
    }

    .contact-text {
        margin-left: 0
    }
    
    .contact-section .black {
        height: auto;
    }
    
    .contact-form {
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 3rem 4.4rem;
        position: static;
    }
    
    .contact-form input {
        border: none;
        border-bottom: 1px solid grey;
        width: 80%;
        padding: 15px 5px;
    }

    .contact-text-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 80%;
    }

    #contact .contact-text-space {
        margin-left: 4.4rem;
    }
    
    .contact-text p {
        color: #ffffff;;
    }
    
    .contact-text h3 {
        color: #1e3799;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .contact-text h3 i {
        margin-right: 5px;
    }

    .footer div {
        margin: 2rem 0;
    }

    .footer-text p {
        margin: 1rem 0;
    }
}





@media only screen and (max-width: 599px) {

    h1 {
        font-size: 3.0rem;
    }
    .hero {
        height: 42rem;
    }

    .hero .sm-div {
        width: 80%;
    }

    .hero .lg-div {
        display: none;
    }
    .hero-text {
        width: 80%;
        margin-left: 3rem;
    }

    /* about section */

    .about-text {
        margin-left: 6rem;
        padding: 10rem 0;
        max-width: 70%;
    }

    .about-text p {
        max-width: 90%;
    }
    
    .about-image-div {
        display: none;
    }
    
    .about-section .equal-div {
        width: 100%;
    }
    
    /* services section */
    .services-section {
        height: auto;
    }

    .service {
        min-width: 80%;
    }
    
    .service h3 i {
        font-size: 1.5rem;
    } 

    .services-text {
        width: auto;
    }

    /* portfolio section */
    .portfolio-section {
        height: auto;
    }

    .cards-div {
        gap: 2rem;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
    }
    
    .card {
        width: 70%;
        gap: 20rem;
    }

    /* team section */
    .team-section {
        height: auto;
        margin-top: 12rem;
    }

    .profile {
        width: 70%;
    }

    /* contact section */
    .contact-section {
        flex-direction: column;
    }

    .contact-section .equal-div {
        width: 100%;
    }

    .contact-text {
        margin-left: 0
    } 
    
    .contact-section .black {
        height: auto;
        padding: 3rem 0;;
    }
    
    .contact-form {
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 3rem 6rem;
        position: static;
    }
    
    .contact-form input {
        border: none;
        border-bottom: 1px solid grey;
        width: 80%;
        padding: 15px 5px;
    }

    .contact-form textarea {
        width: 80%;
    }

    .contact-text-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        text-align: center;
    }

    #contact .contact-text-space {
        margin-left: 6rem;
    }
    
    .contact-text p {
        color: #ffffff;;
    }
    
    .contact-text h3 {
        color: #1e3799;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .contact-text h3 i {
        margin-right: 5px;
    }

    .footer {
        padding: 6rem;
    }

    .footer div {
        margin: 2rem 0;
    }

    .footer-text p {
        margin: 1rem 0;
    }
}